@media (max-width: 960px) {
  #profile-page .cart{
    width: 100%;
  }

  .cart .row{
    justify-content: flex-start;
  }

  #profile-page .cart .block:first-child{
    margin-right: 4.28em;
  }
}

@media (max-width: 767px) {
  #profile-page .card {
    width: 100%;
  }
}

@media (max-width: 530px) {

  #profile-card .row:last-child {
    flex-direction: column;
  }

  #profile-card .row .block:first-child {
    margin-bottom: 1.1em;
  }

}
